<div class="full-size sub-view">

    <div class="horizontal-center" style="height: 400px;width: 1000px; padding-top: 10px;">


        <div class="full-width">
            <pre class="myPre text-center" style="font-size: medium; height: 100%; font-weight: bold">Change the amount of your exchange to exceed the credit limit.</pre>
            <pre class="myPre text-center" style="font-size: small; height: 100%; margin-top: -15px;">minus sign(-) means give and plus sign(+) means get money.</pre>
            <div class="row no-gutters" style="margin-top: 0px;">
                <span class="col-5 text-center">YOU</span>
                <span class="col-5 text-center">YOUR COUNTERPART</span>
                <span class="col-2 text-center">PROVIDERS</span>

            </div>

            <div class="horizontal-center row full-width no-gutters " style="height: 150px;">
                <div class="no-gutters row col-5 center-content" style="padding-right: 25px; padding-left: 25px;">
                    <div class="center-content col-6">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="" style="">
                                <div class="form-group">
                                    <label for="from">From</label>

                                    <select class="form-control" id="from" style="width: 175px;"
                                            ng-init="" ng-model="currency1"
                                            ng-options="c for c in currencies" disabled>
                                    </select>

                                    <label style="margin-top: 20px" for="amount11">Amount</label> <input
                                        class="form-control" id="amount11" style="width: 175px" type="text"
                                        ng-model="amount11" ng-change="cal6()">


                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="full-width col-6 center-content">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="">
                                <div class="form-group">
                                    <label for="to" style="">To</label>
                                    <select class="form-control" id="to" ng-model="currency2" style="width: 175px;"
                                            ng-options="c for c in currencies" disabled>
                                    </select>
                                    <label for="amount12" style="margin-top: 20px">Amount</label>
                                    <input class="form-control" id="amount12" style="width: 175px" type="text"
                                           ng-model="amount12" disabled>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters col-5 center-content" style="padding-right: 25px; padding-left: 25px;">
                    <div class="center-content col-6">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="" style="">
                                <div class="form-group">
                                    <label for="from">From</label>

                                    <select class="form-control" id="from" style="width: 175px;"
                                            ng-init="" ng-model="currency2"
                                            ng-options="c for c in currencies" disabled>
                                    </select>

                                    <label style="margin-top: 20px" for="amount21">Amount</label> <input
                                        class="form-control" id="amount21" style="width: 175px" type="text"
                                        ng-model="amount21" disabled>


                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="full-width col-6 center-content">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="">
                                <div class="form-group">
                                    <label for="to" style="">To</label>
                                    <select class="form-control" id="to" ng-model="currency1" style="width: 175px;"
                                            ng-options="c for c in currencies" disabled>
                                    </select>
                                    <label for="amount22" style="margin-top: 20px">Amount</label>
                                    <input class="form-control" id="amount22" style="width: 175px" type="text"
                                           ng-model="amount22" disabled>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters col-2 center-content" style="padding-right: 0px; padding-left: 60px;">
                    <div style="width: 300px; height: 200px;" class="center-content">
                        <form class="form" action="" style="">
                            <div class="form-group" style="margin-top: -2px;">
                                <label for="credit1">Credit({{currency1}})</label>
                                <input class="form-control" id="credit1" style="width: 175px" type="text"
                                       ng-model="credit1" disabled>

                                <label class="" for="credit2" style="margin-top: 22px;">Credit({{currency2}})</label>
                                <input class="form-control" id="credit2" style="width: 175px" type="text"
                                       ng-model="credit2" disabled>

                            </div>
                        </form>
                    </div>
                </div>


            </div>


        </div>


        <div class="table-responsive horizontal-center" style="width: 450px; height: 320px; margin-top: 50px;">
            <table class="table" style="">
                <tr>
                    <th></th>
                    <th>{{currency1}}</th>
                    <th>{{currency2}}</th>
                </tr>
                <tr>
                    <td>you</td>
                    <td><span class="text-danger font-weight-bold">-{{amount11}}</span></td>
                    <td><span id="sp1" style="visibility: hidden"
                              class="text-success font-weight-bold">+{{amount12}}</span></td>
                </tr>
                <tr>
                    <td>your counterpart</td>
                    <td><span id="sp2" style="visibility: hidden"
                              class="text-success font-weight-bold">+{{amount22}}</span></td>
                    <td><span class="text-danger font-weight-bold">-{{amount21}}</span></td>
                </tr>
                <tr>
                    <td>importer</td>
                    <td><span id="sp3" class="font-weight-bold" style="visibility: hidden;">
                        <span ng-if="-(amount22 - amount11)>0">+{{min1}}</span>
                        <span ng-if="-(amount22 - amount11)<0">-{{min2}}</span></span>
                    </td>
                    <td><span id="sp4" class="font-weight-bold" style="visibility: hidden;">0</span></td>
                </tr>
                <tr>
                    <td>exporter</td>
                    <td><span class="font-weight-bold" style="visibility: hidden;" id="sp5">0</span></td>
                    <td><span class="font-weight-bold" style="visibility: hidden;" id="sp6">
                        <span ng-if="-(amount12 - amount21)>0">+{{min3}}</span>
                        <span ng-if="-(amount12 - amount21)<0">-{{min4}}</span></span>
                    </td>
                </tr>
                <tr id="sumRow">
                    <td>sum</td>
                    <td><span id="sp7" class="font-weight-bold" style="visibility: hidden;"><span ng-if="sum1>0">+</span>{{sum1}}</span></td>
                    <td><span id="sp8" class="font-weight-bold" style="visibility: hidden;"><span ng-if="sum2>0">+</span>{{sum2}}</span></td>
                </tr>
            </table>
        </div>

        <div class="horizontal-center" style="width:450px; height: 50px; margin-top: -28px;">
            <span id="status" class="text-success"></span>
            <span id="status2" class="text-danger"></span>
        </div>

        <div class="center-content" style="margin-top: -15px;">
            <div>
                <button class="btn btn-danger border border-white text-white btn" ng-click="doExchange5()">exchange</button>
                <a ui-sref="getstarted12" class="" style="margin-left: 0px;">
                    <button class="btn btn-dark text-white border-light" ng-click="">next</button>
                </a>
            </div>
        </div>


    </div>
</div>


<div style="position:absolute; right: 0px; top: 0">
    <p>page11</p>
</div>



