<div class="full-size sub-view">

    <div class="horizontal-center" style="height: 400px;width: 850px; padding-top: 10px;">


        <div class="full-width">
            <pre class="myPre text-center" style="font-size: medium; height: 100%; font-weight: bold">Now try the exchange with the presence of providers.</pre>
            <pre class="myPre text-center" style="font-size: small; height: 100%; margin-top: -15px;">Minus sign(-) means give and plus sign(+) means get money.</pre>
            <div class="row" style="margin-top: 0px;">
                <span class="col-6 text-center">YOU</span>
                <span class="col-6 text-center">YOUR COUNTERPART</span>
            </div>

            <div class="horizontal-center row " style="height: 150px;">
                <div class="no-gutters row col-6 center-content" style="">
                    <div class="center-content col-6">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="" style="">
                                <div class="form-group">
                                    <label for="from">From</label>

                                    <select class="form-control" id="from" style="width: 175px;"
                                            ng-init="" ng-model="currency1"
                                            ng-options="c for c in currencies" disabled>
                                    </select>

                                    <label style="margin-top: 20px" for="amount11">Amount</label> <input
                                        class="form-control" id="amount11" style="width: 175px" type="text"
                                        ng-model="amount11" ng-change="cal4()">


                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="full-width col-6 center-content">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="">
                                <div class="form-group">
                                    <label for="to" style="">To</label>
                                    <select class="form-control" id="to" ng-model="currency2" style="width: 175px;"
                                            ng-options="c for c in currencies" disabled>
                                    </select>
                                    <label for="amount12" style="margin-top: 20px">Amount</label>
                                    <input class="form-control" id="amount12" style="width: 175px" type="text"
                                           ng-model="amount12" disabled>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters col-6 center-content" style="">
                    <div class="center-content col-6">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="" style="">
                                <div class="form-group">
                                    <label for="from">From</label>

                                    <select class="form-control" id="from" style="width: 175px;"
                                            ng-init="" ng-model="currency2"
                                            ng-options="c for c in currencies" disabled>
                                    </select>

                                    <label style="margin-top: 20px" for="amount21">Amount</label> <input
                                        class="form-control" id="amount21" style="width: 175px" type="text"
                                        ng-model="amount21" disabled>


                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="full-width col-6 center-content">
                        <div style="width: 300px; height: 200px;" class="center-content">
                            <form class="form" action="">
                                <div class="form-group">
                                    <label for="to" style="">To</label>
                                    <select class="form-control" id="to" ng-model="currency1" style="width: 175px;"
                                            ng-options="c for c in currencies" disabled>
                                    </select>
                                    <label for="amount22" style="margin-top: 20px">Amount</label>
                                    <input class="form-control" id="amount22" style="width: 175px" type="text"
                                           ng-model="amount22" disabled>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


            </div>


        </div>


        <div class="table-responsive horizontal-center" style="width: 450px; height: 320px; margin-top: 50px;">
            <table class="table" style="">
                <tr>
                    <th></th>
                    <th>{{currency1}}</th>
                    <th>{{currency2}}</th>
                </tr>
                <tr>
                    <td>you</td>
                    <td><span class="text-danger font-weight-bold">-{{amount11}}</span></td>
                    <td><span id="sp1" style="visibility: hidden"
                              class="text-success font-weight-bold">+{{amount12}}</span></td>
                </tr>
                <tr>
                    <td>your counterpart</td>
                    <td><span id="sp2" style="visibility: hidden"
                              class="text-success font-weight-bold">+{{amount22}}</span></td>
                    <td><span class="text-danger font-weight-bold">-{{amount21}}</span></td>
                </tr>

                <tr>
                    <td>importer</td>
                    <td><span id="sp3" class="font-weight-bold" style="visibility: hidden;"><span
                            ng-if="-(amount22 - amount11)>0">+</span>{{-(amount22 - amount11)}}</span></td>
                    <td><span id="sp4" class="font-weight-bold" style="visibility: hidden;">0</span></td>
                </tr>
                <tr>
                    <td>exporter</td>
                    <td><span class="font-weight-bold" style="visibility: hidden;" id="sp5">0</span></td>
                    <td><span class="font-weight-bold" style="visibility: hidden;" id="sp6"><span
                            ng-if="-(amount12 - amount21)>0">+</span>{{-(amount12 - amount21)}}</span></td>
                </tr>
                <tr id="sumRow">
                    <td>sum</td>
                    <td><span id="sp7" class="font-weight-bold" style="visibility: hidden;">0</span></td>
                    <td><span id="sp8" class="font-weight-bold" style="visibility: hidden;">0</span></td>
                </tr>
            </table>
        </div>

        <div class="horizontal-center" style="width:450px; height: 50px; margin-top: -25px;">
            <span id="status" class="text-success"></span>

        </div>

        <div class="center-content" style="margin-top: -5px;">
            <div>

                <button class="btn btn-danger border border-white text-white btn" ng-click="doExchange3()">exchange
                </button>
                <a ui-sref="getstarted10" style="margin-left: 0px;">
                    <button class="btn btn-dark text-white border-light" ng-click="">next</button>
                </a>
            </div>
        </div>

    </div>
</div>


<div style="position:absolute; right: 0px; top: 0">
    <p>page9</p>
</div>

